body {
    background-color: #000000;
    color: #00ff00;
    margin: 0px 0px 0px 25px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

#navbarDiv {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.90);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 45px;
}

#navbarDiv a {
    text-decoration: none;
    color: purple;
    vertical-align: middle;
    font-size: 22px;
}

#navbarDiv a:hover {
    text-decoration: underline;
    color: yellow;
}
